{{ if .Values.apiService.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-api
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-api
  minAvailable: {{ .Values.apiService.podDisruptionBudget.minAvailable }}
{{- end }}